.content{
    background-color: rgb(30, 30, 30);
    margin: 5px;
    padding: 2px;
}
.head1{
    background-color: rgb(60, 60, 60);
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: rgb(255, 255, 255) underline dotted;
    font-size: 250%;
    margin: 5px;
    padding: 5px;
}
.body1_1{
    color: rgb(235, 235, 235);
    font-size: 150%;
    text-align: center;
    margin: 5px;
    padding: 5px;
}
.body1_2{
    color: rgb(255, 255, 255);
    font-size: 150%;
    text-align: justify;
    margin: 5px;
    padding: 5px;
}
@keyframes bganimation{
    0%{background: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(0, 100, 255) 100%);}
    50%{background: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(255, 30, 0) 100%);}
    100%{background: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(0, 100, 255) 100%);}
}
.mainbg{
    background: rgb(255, 255, 255);
    background: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(0, 100, 255) 100%);
    background-repeat: no-repeat;
    animation-name: bganimation;
    animation-duration: 10s;
}

